html {
  font-family: Monaco, monospace;
  color: white;
}

a {color: yellow}

body {
  background: #001;
  background:-webkit-linear-gradient(top, #001, #667);
  background: linear-gradient(to bottom, #001, #667);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 12vh;
  margin-top: 0;
  padding-top: 2vh;
  color: fuschia;
}

pre {
  font-size: 5vh;
  line-height: 7vh;
  padding-left: 10vw;
  margin-bottom: 0;
}

ul {
  padding-left: 10vw;
}

li {
  font-size: 8vh;
  line-height: 15vh;
  padding-left: 3vw;
}

input {
  font-size: 90%;
}

.currentSlide {
  outline: none;
}

.line p {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.line span {
  background: -webkit-linear-gradient(left, #223, #334);
  background: linear-gradient(to right, #223, #334);
  padding: 10vh 0;
  display: block;
  font-size: 11vh;
}

.underline {
  font-size: 7vh;
  position: absolute;
  text-align: center;
  top: 70%;
  width: 100%;
}
.whole, body, html, #slideshow {
    height: 100%;
}

::-moz-selection {
  background: #ffb7b7;
  color: black;
  text-shadow: white 0 -2px;
}
::selection {
  background: #ffb7b7;
  color: black;
  text-shadow: white 0 -2px;
}


textarea {
  width: 40%;
  height: 30vh;
  font-size: 5vh;
}
.error {
  color: red; 
  height: 4vh; 
  font-size: 4vh;
}
.center {
  margin: 0px auto;
  text-align: center;
}

.trans {
  opacity: 1 !important;
  transition: opacity 0.5s;
}

.slide {
  opacity: 0;
}
img {
  height: 85vh;
}