// -------------------------------------
// - Skins Module
// -------------------------------------
// ----- Styles for the Skins Module
// -------------------------------------

//   Utilities
// -------------------------------------

.skin-color-light-blue {
  background: $color-light-blue;
}

.skin-color-green {
  background: $color-green;
}

.skin-color-white {
  background: $color-white;
}

.skin-color-yellow {
  background: $color-yellow;
}

.skin-color-mid-gray {
  background: $color-mid-gray;
}

.skin-color-transparent {
  background: transparent;
}


// Promos
// -------------------------------------

// .skin-promo-line {
//   border: 1px solid $color-gray;
//   margin-top: 15px;
//   margin-bottom: 15px;
// }
